<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <style>
    div.post{background-color: green;}
    </style>
</head>
<body>
	<h1>hey now</h1>
    {{{body}}}
    <div class="content">foo</div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    
    <script id="post-template" type="text/x-handlebars-template">
    	<div class="post">id {{id}} : info {{info}}</div>
    </script>

	<script>
	$(document).ready(function(){
		var source   = $("#post-template").html();
		var template = Handlebars.compile(source);
		// var context = {'id': '123', 'info': '456'};
		// var html = template(context);
		//$('div.content').append(html);
		$.ajax({
		  url: "/posts",
		  dataType : "json",
		  beforeSend: function( xhr ) {
		    xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
		  }
		})
		  .done(function( posts ) {
		  	//posts = JSON.parse(posts);
			console.log( "Sample of data:", posts );
			for(var i= 0, len=posts.length; i< len; i++){
				var post = posts[i];
				//console.log(post);
				var html = template(post);
				$('div.content').append(html);
				
			}

		  });

		
	});
	</script>
</body>
</html>